/* Custom Properties */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    /* Font Weight */
    --fw-reg: 300; 
    --fw-bold: 900;

    --clr-light: white;
    --clr-dark: #35363A;
    --clr-accent: #ffa550;


    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25), 0.125em 0.125em 0.25em rgba(0,0,0,0.15);
}

/* Media Query for Larger Devices */
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles */
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold); }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: 0.5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--projects {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100; /* Forces Nav to Cover Everything when Open */

    transform: translateX(100%); /* 100% Hides Menu by Default */
    /* transform: translateY(-100%); */
    transition: transform 250ms cubic-bezier(0.5,0,0.5,1);
    margin: 0;
    padding: 0;
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly; /* Requires Flex and Flex Direction to Use */
    align-items: center;
}

.nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover {
    color: var(--clr-accent);
}

.nav--toggle {
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 3.5em;
    top: 3.5em;
    z-index: 1000;
}

/* Javascript Event Triggered */
.nav-open .nav {
    transform: translateX(0%);
    /* transform: translateY(-88%); */
}

.nav-open .nav--toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translate(-8px);
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 8px;
}

.hamburger::after {
    bottom: 8px;
}



/* Intro Section Styles */
.intro {
    position: relative;

}

.intro__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1em;
        width: calc(100% + 1em) /* Counteracts left -1em */
    }
}

/* My Skills Section Styles */
.my-skills {
    background-color: var(--clr-dark);
    background-image: url(../resources/Coding\ Stock\ Image.jpg);
    background-blend-mode: multiply;
    background-size: cover;

    color: var(--clr-light);
    text-align: center;
}

.section__title--skills {
    color: var(--clr-accent);
    position: relative;
}

.section__title--skills::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    opacity: 0.25;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
}

/* .skills {
    margin-bottom: 2em;
} */ /* Pre-Item Skills */
.my-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: auto;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    /* margin-top: 0px; */
    gap: 2.5vh;
}

.skill__item {
    height: 20vw;
    width: 20vw;
    max-height: 200px;
    max-width: 200px;
    background-color: var(--clr-light);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    gap: 2.5vh;
    /* transition: all ease 0.5s; */
}

.skill__item:hover {
    background-color: var(--clr-accent);
}

.skill__item img {
    height: 7.5vw;
    width: 7.5vw;
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}

.skill__item h3 {
    color: var(--clr-dark);
}

/* .skill {
    max-width: 500px;
    margin: 0 auto;
} */

/* .skill__scale {
    margin-bottom: 2em;
} */

/* .skill__scale:hover {
    color: var(--clr-accent);
} */

/* Split into columns when big screen */
/* @media (min-width: 800px) {
    .skills {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3em;
    }

    .skill + .skill {
        margin-left: 2em;
    }

    .skill__scale {
        display: flex;
        margin: 0 auto;
        width: 100px;
    }

    .skill__scale i {
        margin: 0 auto;
    }
} */

@media (min-width: 800px) {
    .skills {
        max-width: 1000px;
    }

    .skill__item {
        max-height: 200px;
        max-width: 200px;
    }

    .skill__item h3 {
        font-size: 2rem;
    }
}



/* About Me Section Styles */
.about-me {
    max-width: 1000px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em)
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

/* My Projects Section Styles */
.my-projects {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Creates 4 Columns */
    max-width: 1200px;
    margin: 0 auto;
}

.portfolio__item {
    background: var(--clr-accent);
    overflow: hidden;
}

.portfolio__img {
    width: 100%;
    height: 100%;
    transition: 
        transform 750ms cubic-bezier(0.5,0,0.5,1),
        opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: 0.75;
}

/* Footer Styles */
.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-icons__link:hover {
    opacity: 0.75;
}

.footer__link:hover {
    text-decoration: underline;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-icons__item {
    margin: 0 0.5em;
}

.social-icons__link {
    padding: 0.5em;
}

/* Individual Portfolio Items Styles */
.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: -2em auto;
}

.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-item-individual img {
    display: flex;
    max-width: 700px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}