.projects-container {
  padding: 2rem 2rem;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.projects-container h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: var(--contrast);
}

.project-swiper {
  padding-bottom: 3rem; /* Space for pagination dots */
}

.project-card {
  background-color: var(--primary-gray);
  color: var(--white);
  /* border: 1px solid var(--navy); */
  border-radius: 8px;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
}

.tech-stack {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  color: var(--contrast);
}

.project-links {
  display: flex;
  gap: 1.5rem;
}

.project-links a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--contrast);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  color: var(--primary-gray);
}

.project-links a:hover {
  background-color: var(--white);
}

/* Swiper customize */
.swiper-button-next, .swiper-button-prev {
  color: var(--contrast) !important;

}
.swiper-pagination-bullet-active {
  background-color: var(--contrast) !important;
}
.swiper-wrapper {
  align-items: stretch !important; 
}
.swiper-slide {
  height: auto !important; 
  display: flex !important;
}