/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    /* color: #6a5acd; */
    color: white;
    transition: color 0.3s ease;
}

header {
    background-color: #333;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li {
    margin-left: 30px;
}

.navbar ul li a {
    color: white;
    font-size: 16px;
    position: relative;
    padding: 10px 0;
}

.navbar ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #6a5acd;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.navbar ul li a:hover {
    color: #6a5acd;
}

.navbar ul li a:hover::after {
    width: 100%;
}

.navbar ul li a.active::after {
    width: 100%;
    background-color: white;
}

.navbar ul li a.active:hover::after {
    background-color: #6a5acd;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 32px;
    height: 2px;
    background-color: white;
    margin: 4px 0;
    transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    position: relative;
}

.hamburger:hover .bar {
    background-color: #6a5acd;
}

/* When the menu is open - spin into an X */
.hamburger.menu-open .bar:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px); /* Top bar turns into the top part of the X */
}

.hamburger.menu-open .bar:nth-child(2) {
    opacity: 0; /* Hide the middle bar */
}

.hamburger.menu-open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px); /* Bottom bar turns into the bottom part of the X */
}

/* Media Queries */
@media (max-width: 800px) {
    .navbar ul {
        display: none;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
        z-index: 1;
    }

    .navbar ul li a {
        font-size: 24px;
    }

    .nav-links li {
        margin: 20px 0;
    }

    .nav-links.show {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    /* .hamburger.menu-open .bar {
        background-color: #6a5acd;
    } */
}

.btn {
    padding: 10px 20px;
    background-color: #6a5acd;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Hero Section */
.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    text-align: center;
    padding: 0 50px;
}

.hero-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 60px;
}

.hero-text {
    width: 60%;
    text-align: left;
    padding-right: 20px;
    /* margin-left: 80px; */
}

.hero h1 {
    font-size: 56px;
    color: #333;
    margin-bottom: 20px;
}

.hero p {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #666;
}

.hero p .intro {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 0;
    color: #666;
}

.hero .btn {
    font-size: 18px;
    margin-top: 30px;
    padding: 10px 30px;
}

.hero-emoji {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-emoji .emoji-img {
    width: 80%;
    max-width: 400px;
    height: auto;
    border: 5px solid #6a5acd;
    border-radius: 25%;
}

/* About Page */
.about-section {
    display: flex;
    padding: 50px;
    background-color: #fff;
}

.about-content {
    display: flex;
    padding: 20px 50px;
    background-color: white;
}

.about-text, .about-info {
    width: 50%;
    padding: 20px;
}

.about-info {
    background-color: #6a5acd;
    color: white;
}

/* Experience Page */
.experience-list {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.experience-item {
    display: flex;
    /* align-items: center; */
    align-items: flex-start;
    margin-bottom: 20px;
}

.experience-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    object-fit: contain;
}

.experience-item .details {
    font-size: 18px;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experience-item .details h3 {
    margin: 0 0 10px 0;
    font-size: 22px;
    font-weight: 700;
}

.experience-item p {
    margin: 0;
    font-size: 16px;
    color: 666;
}

.divider {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 20px 0;
}

/* Skills Page */
.skills-section {
    padding: 50px;
}

.skills-category {
    margin-bottom: 30px;
}

.skills-category h3 {
    margin-bottom: 15px;
    color: #333;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.skill-box {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    width: 100%;
    height: 100%;
}

.skill-box:hover {
    transform: translateY(-5px);
}

.skill-box img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

/* Projects Page */
.projects-list {
    padding: 50px;
}

.project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.project-item:nth-child(odd) {
    flex-direction: row-reverse;
}

.project-item img {
    width: 60%;
}

.project-item .project-details {
    width: 35%;
    padding: 20px;
}

/* Contact Page */
.contact-section {
    display: flex;
    padding: 50px;
}

.contact-info, .contact-form {
    width: 50%;
    padding: 20px;
}

.contact-info .social-icon {
    color: #333;
    transition: color 0.3s ease;
}

.contact-info .social-icon:hover {
    color: #999;
}

.contact-info img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.contact-info a {
    display: block;
    margin-top: 10px;
    font-size: 16px;
}

.contact-form .title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.contact-form input, .contact-form textarea {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form input[type="submit"] {
    background-color: #6a5acd;
    color: white;
    cursor: pointer;
    border: none;
}
